Name: jetty-8.1
Version: 8.1
Architecture: noarch
Provides: jetty
Depends: java-1.7.0-openjdk
Conflicts:
Type: Cartridge
Role: misc
Vendor: www.openshift.com
DisplayName: jetty-8.1
Bundles: 
Description: 
Provides Jetty - open source Java Servlet container developed by Eclipse Foundation